<div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog" id="modal-item-<%= modal_id %>">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content" id="modal-content-<%= modal_id %>">
      <%= render partial: modal_partial, locals: modal_partial_locals %>
    </div>
  </div>
</div>