<div class="item-box brick col-12 col-md-6 col-lg-4 col-xl-3" data-controller='claim' data-claim-hover-class='item-hover' data-claim-hover-out-class='item-hover-out' data-claim-target='item'>
  <div class='item <%= item.secret ? 'secret-item' : '' %> <%= item.is_claimed? ? 'item-claimed' : '' %>' id='item-<%= item.id %>'>
    <%= render partial: 'list_item/item_inner', locals: { item: item } %>
  </div>
</div>
