<%= button_to claim_path(item.id), data: { action: 'mouseover->claim#blur mouseout->claim#unblur' }, class: "claim unclaimed list-item-#{item.id}", remote: true do %>
  <span class='claim-icon fa-solid fa-gift' data-action='hover->claim#blur'></span>
  <span class='claim-banner'>I'm getting this <i class="fa-regular fa-face-grin-hearts"></i></span>
<% end %>
