<section class='header pb-5'>
  <div class='head-content'>
    <h1>
      <div class='d-flex justify-content-center font-weight-bold'>
        Gifts I'm Giving
      </div>
    </h1>
  </div>
</section>
