<div data-controller='message'>
  <div class='message claim-message-mobile with-progress' data-message-target='msg'>
    <div class='text'>
      <%= message %>
    </div>
    <div class="progress">
      <div class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" data-message-target='progress'></div>
    </div>
  </div>
</div>
  