<section class='header pb-5'>
  <div class='head-content'>
    <%= render partial: 'layouts/partials/header', locals: { title: "Gifts I'm Giving" } %>
    <div class='description pt-5 d-flex'>
      <span class='pill d-flex'>
        <span class='pill-title'>Total</span> 
        <span><%= total %></span>
      </span>
    </div>
  </div>
</section>