<div class='row'>
  <%= form_for :sign_up, url: sign_up_path, method: :get do |f| %>
    <div class='col-12 mt-5'>
      <%= f.text_field :first_name, placeholder: 'First Name', class: 'form-control form-control-lg' %>
    </div>
    <div class='col-12 mt-4'>
      <%= f.text_field :last_name, placeholder: 'Last Name', class: 'form-control form-control-lg' %>
    </div>
    <div class='col-12 mt-5 d-flex justify-content-center'>
      <%= f.button :submit, class: 'btn sign-up' do %>
        <i class="fa-brands fa-google me-3"></i>Sign Up with Google
      <% end %>
    </div>
  <% end %>
</div>