<div class='pt-lg d-flex justify-content-center pb-5'>
  <%= image_tag "cat-with-hat", class: 'logo logo-big' %>
</div>

<div class='row mx-auto'>
  <div class='col-3'></div>
  <div class='col-6'>
    <div class='card'>
      <div class='text-center'>
        <p class='title mt-5 mb-3'>Login or Sign-up Below</p>
        <div class='mt-5 mb-5'>
          <%= button_to account_google_oauth2_omniauth_authorize_path(prompt: 'select_account'), method: :post, :data => {turbo: "false"}, class: 'btn btn-lg sign-up' do %>
            <i class="fa-brands fa-google me-3"></i>Login with Google
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class='col-3'></div>
</div>
