<div class='modal'>
  <% 1.times do |request| %>
    <div class="modal-dialog modal-dialog-centered modal-lg view-modal-dialog">
      <div class="modal-content">

        <div class='dismiss-modal'>
          <i class="fa-solid fa-circle-xmark icon-dismiss" data-bs-dismiss="modal" data-modal-carousel-target='dismiss-modal'></i>
        </div>

        <div class="modal-header">
          <span class='text-center'>
            <h3>Request</h3>
            <h6 class='font-weight-light'>Chandler wants to share this wish with you.</h6>
          </span>
        </div>

        <div class="modal-body">
          <div class='row'>
            <div class='col-12'>
              <div class='text-container'>
                <label>XYZ</label>
                <div class='text-content'>
                    xyz
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

