<div class='pt-5 pb-3 d-flex justify-content-between' data-controller='confirmation'>
  <%= link_to destroy_list_item_path(item.id), 
      data: {
        turbo_method: "delete",
        turbo_confirm: "Wait! Are you sure you want to delete this wish?"
      } do |f| %>
    <div class='btn small add-to-list'>
      <i class="fa-solid fa-trash-can me-3"></i>Delete Wish
    </div>
  <% end %>
  <%= link_to edit_list_item_path(item.id), class: '', remote: true do %>
    <div class='btn small pill mt-0 me-0'>
      <i class="fa-solid fa-pen-to-square me-3"></i>Edit Wish
    </div>
  <% end %>
</div>
