<% if item.owned_by?(current_account) %>
  <div class='pb-5'></div>
<% elsif item.pending_claimers.include?(current_account) || item.accepted_claimers.include?(current_account) %>
  <div class='col-12 mt-4 d-flex justify-content-end pb-3 pt-3 ask-to-share-container'>
    <%= render partial: 'claim/request_share', locals: { item: item, claim: item.claims.find_by(requester_id: current_account.id) } %>
  </div>
<% elsif item.denied_claimers.include?(current_account) %>
  <div class='col-12 mt-4 d-flex justify-content-end pb-3 pt-3 ask-to-share-container'>
    <span class='brown-red fw-bold'><i class="fa-solid fa-ban me-3"></i>Your request to share was denied.</span>
  </div>
<% elsif item.can_request_to_claim?(current_account) %>
  <div class='col-12 mt-4 d-flex justify-content-end pb-3 pt-3 ask-to-share-container'>
    <%= link_to create_claim_path(item.id), method: :post, remote: true, class: 'add-to-list btn' do %>
      Ask to Share Claim
    <% end %>
  </div>
<% elsif item.open? %>
  <div class='col-12 mt-4 d-flex justify-content-end pb-3 pt-3'>
    <%= link_to claim_path(item.id), method: :post, class: 'add-to-list btn' do %>
      Claim this Wish
    <% end %>
  </div>
<% else %>
  <div class='pb-5'></div>
<% end %>
