<div class='row'>
  <div class='col-12 mb-3'>
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control', value: group.name %> 
    <%= render_errors(group, :name) %>
  </div>

  <div class='col-12 d-flex justify-content-between flex-row-reverse'>
    <%= f.submit 'Submit', class: 'btn submit' %>
  </div>
</div>
