<div class='overflow-x-scroll no-scroll-style'>
<table class="table no-scroll-style">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
    </tr>
  </thead>
  <tbody>
    <% group_members.each do |account| %>
      <tr>
        <td><%= account.full_name %></td>
        <td><%= account.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
