<section class='mt-5 pt-5'>
  <div class='row'>
    <% @groups.each do |group| %>
      <div class='col-4'>
        <%= link_to group_path(group.id) do %>
        <div class='card group-card'>
          <div class='group-card-head'>
            <h5><%= group.name %></h5>
          </div>
          <div class='group-card-body'>
            <span>
              Members <%= group.accounts.count %>
            </span>
            <span>
              Wishes <%= group.total_wishes %>
            </span>
          </div>
        </div>
        <% end %>
      </div>
    <% end %>
  </div>
</section>