.content {
  padding: 5% 0;
}

textarea {
  height: 100px;
}

.no-link-style {
  color: unset;
  text-decoration: none;
}

.cursor-text {
  pointer-events: none;
  cursor: text;
}

body::-webkit-scrollbar {
  width: 0px;
}

.home-controller .content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 90vh;
  flex-direction: column;
}

.price-range {
  background: #f5f4f4;
  padding: 1px 10px;
  border-radius: 10px;
}


// Table

.table {
  th {
    background: none;
    padding: 20px;
  }

  td {
    background: none;
    padding: 20px;
    vertical-align: middle;
  }
}

// flash messages

.message {
  position: fixed;
  top: 2rem;
  right: -100px;
  background: lightgreen;
  padding: 1rem 2rem;
  border-radius: 15px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  z-index: 99;
  font-weight: 600;
  font-size: 1rem;
  transform: translateX(0);
  transition: all 0.5s forwards;
  animation: slide 0.5s forwards;
}

@-webkit-keyframes slide {
  100% { right: 2rem; }
}

@keyframes slide {
  100% { right: 2rem; }
}

// navbar

.navbar {
  padding-top: 1rem;
}

.add-to-list {
  border: 2px solid #c62e2e;
    color: #c62e2e;
    padding: 7px 15px;
    font-weight: 600;
}

.nav-item {
  letter-spacing: .75px;
  margin-right: 1rem;
}


select {
  padding: 5px 10px;
  border-radius: 10px;
  background: #cccccc;
  border: none;
}

// inputs

.btn.no-border, .btn.no-border:hover {
  border: none;
  background: transparent;
}

.logout-btn {
  border: 2px solid;
  font-weight: 600;
  color: gray;
}

.navbar {
  padding-top: 1rem;
}

.add-to-list:hover {
border: 2px solid #c62e2e;
color: #c62e2e;
padding: 7px 15px;
font-weight: 600;
}

.add-to-list {
  border: 2px solid #c62e2e;
    color: #c62e2e;
    padding: 7px 15px;
    font-weight: 600;
}

.nav-item {
  letter-spacing: .75px;
  margin-right: 1rem;
}

.logo {
  width: 70px;
}


select {
  padding: 5px 10px;
  border-radius: 10px;
  background: #cccccc;
  border: none;
}


input.btn {
  background-color: #9cdba6;
  color: green;
  font-weight: 600;
 }
 
 input.btn:hover {
  background-color: #9cdba6;
  color: green;
  font-weight: 600;
 }
 
 .btn-col {
   display: flex;
   justify-content: end;
   flex-direction: column;
 }
 
 label {
   margin-bottom: 5px;
   font-size: .7rem;
   opacity: 0.7;
   letter-spacing: 0.5px;
 }

 .input-error {
  font-size: .9rem;
  opacity: 0.5;
  margin-top: 0.25rem;
}

.form-btn {
  background-color: #9cdba6;
  color: green;
  font-weight: 600;
}



// Containers

.empty-list {
  background: white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4rem 2rem;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.05);
  align-items: center;
}

.list {
  padding-top: 2rem;
}

// Modal

@keyframes successful {
  from {
    top: -40px;
  }
  to {
    top: -60px;
  }
}

textarea {
  height: 100px;
}

.cancel {
  border: 2px solid #c62e2e;
  color: #c62e2e;
  font-weight: 600;
}

.submit {
  background-color: #9cdba6;
    color: green;
    font-weight: 600;
  border-radius: 10px;
}

.modal form label {
  font-size: 1rem;
}

.modal-content {
  border: none;
  border-radius: 15px;
}

.modal-body {
  padding: 1rem 2rem 2rem 2rem;
}

.modal-header {
  padding: 2rem 2rem 1rem 2rem;
  border: none;
  display: flex;
  justify-content: center;
}

.success {
  position: absolute;
  right: 0;
  top: -40px;
  background: #9cdba6;
  color: green;
  font-weight: 600;
  border-radius: 5px;
  padding: .25rem 2rem;
  animation: successful 0.4s forwards;
}

@keyframes successful {
  from {
    top: -40px;
  }
  to {
    top: -60px;
  }
}

.modal-backdrop.show {
  opacity: 0.8;
}

.cancel {
  border: 2px solid #c62e2e;
  color: #c62e2e;
  font-weight: 600;
}

.submit {
  background-color: #9cdba6;
    color: green;
    font-weight: 600;
  border-radius: 10px;
}

.modal form label {
  font-size: 1rem;
}

.modal-content {
  border: none;
  border-radius: 15px;
}

.modal-body {
  padding: 1rem 2rem 2rem 2rem;
}

.modal-header {
  padding: 2rem 2rem 1rem 2rem;
  border: none;
  display: flex;
  justify-content: center;
}

.dismiss-modal {
  position: absolute;
  right: 2rem;
  top: 20px;
  font-size: 2rem;
  color: gray;
  opacity: 0.5;
  cursor: pointer;
  transition: opacity 0.2s ease-in;
}

.dismiss-modal:hover {
  opacity: 1;
}

// Table

.green {
  color: green;
                }
  .strong {
    font-weight: 600; }
  
  .table-actions {
    text-align: right;
  }
  
  table .btn {
    background-color: #9cdba6;
    color: green;
    font-weight: 600;
  }
  
  .no-results {
    text-align: center;
  }
  
  .table td {
    background: none;
    padding: 20px;
  }
  
  .table th {
    background: none;
    padding: 20px;
  }

// Buttons

.pill {
  margin-right: 15px;
  background: #9cdba6;
  padding: 10px 20px;
  border-radius: 25px;
  color: green;
  font-weight: 600;

  .pill-title {
    margin-right: 15px;
    font-weight: 600;
  }  
}

// Icons 

.icon-lg {
  font-size: 2rem;
  opacity: 0.5;
}

//

.action {
  border: none;
  border-radius: 100%;
  background-color: #d75959;
  color: white;
  font-size: 1.125rem;
  width: 30px;
  height: 30px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  opacity: 0;
  position: absolute;
  top: 30px;
  transition: top 0.2s ease-in;
}

.edit-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1rem;
  background: #56a963;
}

.delete-item {
  border: none;
  border-radius: 100%;
  background-color: #d75959;
  color: white;
  font-size: 1.125rem;
  width: 30px;
  height: 30px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  opacity: 0;
  position: absolute;
  top: 30px;
  left: 20px;
  transition: top 0.2s ease-in;
}

.action.view-item {
  left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1rem;
  background: #56a963;
}

.action.edit-item {
  left: 60px;
}

.item:hover .action {
  opacity: 1;
  top: 20px;
}



.delete-item-form {
  position: absolute; 
  top: 0;
  left: 0;
}
 

.claimed-by {
  padding: 0 20px;
  margin-top: -10px;
  font-size: .7rem;
}

.item-link .icon {
  color: #50B498;
}

.preheader {
  display: flex;
  justify-content: space-between;
}

.name {
  font-weight: 300;
  letter-spacing: .5px;
}

.body {
  border-radius: 0 0 10px 10px;
}

.claim {
  display: inline;
}

.claim-banner {
  position: absolute;
  background: #9CDBA6;
  right: -10px;
  border-radius: 5px;
  padding: 5px 10px;
  opacity: 0;
  transition: top ease-in 0.1s;
  top: -7px;
  color: #16423C;
}

.body {
  display: flex;
  justify-content: space-between;
}

.claim:hover .claim-banner {
  opacity: 1;
  top: -20px;
}

//

.logo-big {
  width: 160px;
}

.infinite-scroll-last {
  opacity: 0.5;
  text-align: center;
  margin-top: 50px;
  font-weight: 100;
}

.loader {
  opacity: 0;
}

.loader-img {
  width: 50px;
}

.opaque {
  opacity: 1;
}

.infinite-scroll-request {
    position: fixed;
    left: 20px;
    bottom: 20px;
}


.pill.red {
  background-color: #FFAAAA;
  color: #815454;
}

.pill {
  margin-right: 15px;
  margin-right: 15px;
  background: #9cdba6;
  padding: 10px 20px;
  border-radius: 25px;
  color: green;
}

// auth

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.btn {
border-radius: 20px;
}

label {
font-size: .9rem;
}

.pt-lg {
padding-top: 12%;
}

.title {
font-size: 1.5rem;
font-weight: 600;
}

.card {
border-radius: 25px;
border: none;
box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.1);
padding: 2rem;
}

.btn.sign-up {
background: #72BF78;
padding: 15px 35px;
font-weight: 600;
font-size: 1.5rem;
}

.description-text {
  font-weight: 300;
  font-size: 1.25rem;
}

// tags

.icon-light {
  color: white;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -25px;
}


.tag {
  background: #cecece;
  border-radius: 21px;
  padding: 8px 15px;
  font-weight: 600;
  margin-right: 1rem;
  white-space: nowrap;
  font-size: .9rem;
  margin-bottom: 10px;
}

.select2.select2-container {
  width: 100% !important;
}

.select2-container--open .select2-dropdown {
  z-index: 9999 !important;
}

.select2-selection.select2-selection--multiple {
  min-height: 38px !important;
}

.select2-container--default.select2-container--focus .select2-selection--multiple,
.select2-selection.select2-selection--multiple {
  border-color: #dee2e6 !important;
}
