<span class="fa-stack fa-1x bought" data-toggle='tooltip' placement='top' title='Purchased' data-tooltip-target='tooltipElement'>
  <i class="fa-solid fa-square fa-stack-2x icon-bg"></i>
  <i class="fa-solid fa-wallet fa-stack-1x fa-inverse icon-fg"></i>
</span>
