<span class="fa-stack fa-1x denied" data-toggle='tooltip' placement='top' title='Denied' data-tooltip-target='tooltipElement'>
  <i class="fa-solid fa-square fa-stack-2x icon-bg brown-red"></i>
  <i class="fa-solid fa-ban fa-stack-1x fa-inverse icon-fg"></i>
</span>

<style>

.brown-red {
  color: #815454;
}

</style>