<span class="fa-stack fa-1x pending" data-toggle='tooltip' placement='top' title='Pending Review' data-tooltip-target='tooltipElement'>
  <i class="fa-solid fa-square fa-stack-2x icon-bg blue-green"></i>
  <i class="fa-solid fa-clock fa-stack-1x fa-inverse icon-fg"></i>
</span>
