<%= f.label :secret, class: 'checkbox d-flex flex-row align-items-center text-black' do %>
  <%= f.check_box :secret, { checked: list_item.secret, checked_value: true, unchecked_value: false } %>
  <span class='with-icon me-3'></span>
  Make this wish a secret
<% end %>