<% if @selected_group.present? %>
  <div class='link'>
    <span class='selected-group-header'>
      <%= @selected_group.name %> /
    </span>
  </div>
<% end %>

<h1>
  <div class='d-flex justify-space-between'>
    <%= title %>
  </div>
</h1>

<style>
.selected-group-header {
  font-weight: 100;
  letter-spacing: 2px;
}
</style>