<div class="input-error">
<i class="fa-solid fa-triangle-exclamation"></i> <%= field.to_s.titleize %> <%= error.first %>
</div>

<style>

.input-error {
  font-size: .9rem;
  opacity: 0.5;
}

</style>