<div class="container-flouid">
  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <a class="navbar-brand" href="/">
        <%= image_tag "cat-with-hat", class: 'logo' %>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-3">
        </ul>
      </div>
    </div>
  </nav>
</div>

<style>

.navbar {
  padding-top: 1rem;
}

.add-to-list {
  border: 2px solid #c62e2e;
    color: #c62e2e;
    padding: 7px 15px;
    font-weight: 600;
}

.nav-item {
  letter-spacing: .75px;
  margin-right: 1rem;
}

.logo {
  width: 160px;
}


select {
  padding: 5px 10px;
  border-radius: 10px;
  background: #cccccc;
  border: none;
}

</style>